/.idea/
/consoleApp.iml
/target/
target/*
/dependency-reduced-pom.xml
/episodes.json
/news.json
/animes.json
/tokens/discord.json
/guilds/
/discord.json
/twitter.json
/tokens/twitter.json
/jais.iml
/users/132903783792377856.json
/start.sh
/geckodriver.exe
/chromedriver.exe
/tokens/database.json
/assets/*
/tokens/instagram.json
/instagram.json
/plugins/
/logs/
/images/
/episodes.minimize.json
/tokens/
/database.json
/browser/node_modules/
/browser/package-lock.json
/firebase_key.json
/src/main/kotlin/fr/ziedelth/jais/Cubari.kt
/src/main/kotlin/fr/ziedelth/jais/Manga.kt
/src/main/kotlin/fr/ziedelth/jais/OpsEndsDetection.kt
/src/main/kotlin/fr/ziedelth/jais/Test.kt
