name: Build & Deploy

on: [ push ]

jobs:
  build-java:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build with Maven
        run: mvn -B clean package test

      - name: Upload Actifact
        uses: actions/upload-artifact@v2
        with:
          name: Jaïs
          path: ./target/Jaïs-jar-with-dependencies.jar

  build-node:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up NodeJS 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Build with NodeJS
        run: |
          cd ./browser
          npm i
          npm run test

      - name: Upload Actifact
        uses: actions/upload-artifact@v2
        with:
          name: Browser
          path: |
            ./browser/index.js
            ./browser/package.json

  deploy:
    runs-on: ubuntu-latest

    needs:
      - build-java
      - build-node

    steps:
      - name: Download all workflow run actifacts
        uses: actions/download-artifact@v2

      - name: LS
        run: |
          ls
          ls Browser
          ls Jaïs

      - name: Install SSH KEY
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: SSH Commands
        run: |
               scp Jaïs/Jaïs-jar-with-dependencies.jar pi@${{ secrets.SSH_HOST }}:/home/pi/Jais_Debug/Jaïs-jar-with-dependencies.jar
               scp Browser/index.js pi@${{ secrets.SSH_HOST }}:/home/pi/Jais_Debug/browser/index.js
               scp Browser/package.json pi@${{ secrets.SSH_HOST }}:/home/pi/Jais_Debug/browser/package.json
