name: Build & Deploy Release

on:
  push:
    branches:
      - master

jobs:
  build-java:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Test with Maven
        run: mvn -B test

      - name: Build with Maven
        run: mvn -B package

      - name: Upload Actifact
        uses: actions/upload-artifact@v2
        with:
          name: Ja誰s
          path: ./target/Ja誰s-jar-with-dependencies.jar

  build-node:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up NodeJS 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Build with NodeJS
        run: |
          cd ./browser
          npm i
          npm run test

      - name: Upload Actifact
        uses: actions/upload-artifact@v2
        with:
          name: Browser
          path: |
            ./browser/index.js
            ./browser/package.json

  deploy:
    runs-on: ubuntu-latest

    needs:
      - build-java
      - build-node

    steps:
      - name: Download all workflow run actifacts
        uses: actions/download-artifact@v2

      - name: Install SSH KEY
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: SSH Commands
        run: |
          ssh -C ${{ secrets.SSH_DESTINATION }} "sh ${{ secrets.SSH_FOLDER }}/stop.sh && rm -rf ${{ secrets.SSH_FOLDER }}/Ja誰s-jar-with-dependencies.jar && rm -rf ${{ secrets.SSH_FOLDER }}/browser/index.js && rm -rf ${{ secrets.SSH_FOLDER }}/browser/package.json"
          scp Ja誰s/* ${{ secrets.SSH_DESTINATION }}:${{ secrets.SSH_FOLDER }}/
          scp Browser/* ${{ secrets.SSH_DESTINATION }}:${{ secrets.SSH_FOLDER }}/browser
          ssh -C ${{ secrets.SSH_DESTINATION }} "${{ secrets.SSH_FOLDER }}/start.sh"
